<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caden.campcircle.mapper.PictureMapper">

    <resultMap id="BaseResultMap" type="com.caden.campcircle.model.entity.Picture">
            <id property="id" column="id" />
            <result property="pictureurl" column="pictureUrl" />
            <result property="userid" column="userId" />
            <result property="createtime" column="createTime" />
            <result property="updatetime" column="updateTime" />
            <result property="isdelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,pictureUrl,userId,createTime,updateTime,isDelete
    </sql>
</mapper>
